@font-face {
    font-family: 'NeoSansIntel';
    src: url('../fonts/NeoSansIntel.eot');
    src: url('../fonts/NeoSansIntel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansIntel.ttf') format('truetype');
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

#ingreso > video,
#interior video {
    height: 100vh;
    width: 100vw;
}

#ingreso {
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display:none;
}

#menu-inicio {
    top: 50%;
    left: 50%;
    z-index: 3;
    position: absolute;
    margin-top: -22.5vh;
    margin-left: -15%;
}

#btn-ingreso-gastro,
#btn-ingreso-neuro,
#btn-ingreso-ortopedia,
#btn-ingreso-otorrino,
#btn-ingreso-pediatria,
#btn-ingreso-otras {
    width: 13.8vw;
    height: 4.7vh;
    cursor: pointer;
}

#interior {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    overflow:hidden;
    right:0;
    bottom:0;
}


/*#btn-interior-edif{
    width:29%;
    height:13%;
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -13%;
    z-index: 2;
    display:none;
}
#btn-interior-edif2{
    width:29%;
    height:12%;
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -6.5%;
    z-index: 6;
    display:none;
}
#btn-interior-edif3{
    width:29%;
    height:12%;
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: 0;
    z-index: 7;
    display:none;
}*/


/* btn del iniciar en safari */

#inicio-safari {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


/* Menu interno*/

#nav {
    z-index: 5;
    position: absolute;
    width: 100%;
    display: none;
   
}

#menu {
    margin: 0 auto;
    min-width: 73%;
    max-width: 80%;
    width: auto;
}

#menu img {
    width: 2vw;
}

#menu ul {
    background-color: white;
    list-style: none;
    padding: 0.6% 0%;
    margin-top: 0;
}

#menu li {
    display: inline-block;
    padding: 0.5% 3%;
    border-right: 1px solid #2f6593;
}

#menu li:first-child {
    display: inline-block;
    padding: 0.5% 1.5%;
    border-right: 1px solid #2f6593;
}

#menu li:last-child {
    border-right: none;
}

#menu a {
    font-family: 'NeoSansIntel';
    font-size: 1vw;
    color: #2f6593;
    text-decoration: none;
}


/*Pabellones*/

#pabellon-gastro,
#pabellon-neuro,
#pabellon-ortopedia,
#pabellon-otorrino,
#pabellon-pediatria,
#pabellon-otras {
    display: none;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
}

.conferencias {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21.5vh;
    margin-left: -10%;
}

.boton-interior {
    height: 9.5vh;
    width: 19.8vw;
    margin-bottom: 1.4vh;

}

.poster-video {
    display: block;
    z-index: 4;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.zoom{
        transition: 3s ;
 		-moz-transition: 3s ; /* Firefox */
 		-webkit-transition: 3s ; /* Chrome - Safari */
 		-o-transition: 3s ; /* Opera */
 		transform : translate(30%,-50%) scale(4);
		-moz-transform : translate(30%,-50%) scale(4); /* Firefox */
		-webkit-transform : translate(30%,-50%) scale(4); /* Chrome - Safari */
		-o-transform : translate(30%,-50%) scale(4); /* Opera */
		-ms-transform : translate(30%,-50%) scale(4); /* IE9 */
		opacity: 0;
		
}

#fuente{
    top: 50%;
    left: 50%;
    position: absolute;
    width: 21%;
    margin-left: 14%;
    margin-top: 3%;
    opacity:0.7;
}
.ave{
    position:absolute;
    top: 52%;
    left: 69%;
    width: 8%;
}
